@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    --orange: #faab78;
    --lightGreen: #e8f3d6;
    --lightYellow: #fcf9be;
    --lightOrange: #ffdca9;
    --darkOrange: #d29943;
    --darkGreen: #acca7b;
}
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none !important;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}
body {
    background-color: var(--orange) !important;
}
p {
    color: black;
}
/* navbar */
nav.navbar {
    background-color: var(--orange);
}
.navbar-brand img {
    /* height: 55px; */
    max-width: 100px;
    max-height: 50px;
}
#carouselExampleIndicators {
    background-color: black;
}
.greetings {
    color: white;
    margin: 0;
}

.cmn-btn {
    padding: 0 45px;
    text-align: center;
    color: black;
    border-radius: 60px;
    font-size: 16px;
    font-weight: 500;
    line-height: 50px;
    transition: all 0.5s;
    z-index: 1;
    background-image: linear-gradient(315deg, white 0%, var(--lightOrange) 70%);
}
.navBtnGuestLogin {
    border-radius: 15px;
    color: black !important;
    border: 2px solid var(--lightGreen);
    background-color: var(--lightGreen);
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 0.5em 0.8em !important;
    width: fit-content;
}
.navBtnGuestRegister {
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
    color: var(--lightGreen) !important;
    border: 2px solid var(--lightGreen);
    padding: 0.5em 0.8em !important;
    width: fit-content;
}

.nav-item .nav-link {
    color: var(--lightGreen);
}
/* end of navbar */

/* start of hero section */
h1 {
    color: black;
}

.text-custom {
    color: black;
}

.carousel {
    max-width: 100vw;
    height: 100vh;
    position: relative;
}

.carousel-item img {
    width: 100vw;
    height: calc(100vh - 88px);
    object-fit: cover;
}

.content {
    position: absolute;
    z-index: 999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content h2 {
    text-align: center;
    color: var(--lightOrange);
    letter-spacing: 0.5rem;
    text-shadow: 2px 2px 2px var(--orange);
}
/* end of hero section */

/* start of about us section */

.card-title {
    margin-bottom: 2rem !important;
}

.services:nth-child(3n + 1) .card {
    background: #fcf9be !important;
    color: rgb(0, 0, 0);
}

.services:nth-child(3n + 2) .card {
    background: #fff990 !important;
    color: rgb(0, 0, 0);
}

.services:nth-child(3n) .card {
    background: #fff86a !important;
    color: rgb(0, 0, 0);
}

.awards-section {
    position: relative;
    overflow: hidden;
}

.awards-item {
    position: relative;
    background-color: #fcf9be;
    padding: 25px;
    border-radius: 10px;
    overflow: hidden;
    z-index: 2;
    transition: all 0.5s;
}

.awards-icon {
    width: 120px;
    height: 120px;
    line-height: 120px;
    text-align: center;
    display: inline-block;
    border-radius: 50%;
    background-image: linear-gradient(-82deg, #7f8c8d 0%, #425354 74%);
}

img {
    max-width: 100%;
    height: auto;
}

.awards-item .title {
    margin-top: 20px;
    margin-bottom: 20px;
    transition: all 0.5s;
}
.awards-item p {
    transition: all 0.5s;
}
.awards-item::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(315deg, var(--lightOrange) 0%, white 74%);
    z-index: -1;
    -ms-transform: translate(-100%, -100%);
    -webkit-transform: translate(-100%, -100%);
    transform: translate(-100%, -100%);
    transition: all 0.5s;
}

.awards-item::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(315deg, white 0%, var(--lightOrange) 74%);
    z-index: -1;
    -ms-transform: translate(100%, 100%);
    -webkit-transform: translate(100%, 100%);
    transform: translate(100%, 100%);
    transition: all 0.5s;
}
.awards-item .title {
    color: black;
}
.awards-item p {
    color: black !important;
}
.awards-item:hover::before {
    -ms-transform: translate(0%, 0%);
    -webkit-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
}

.awards-item:hover::after {
    -ms-transform: translate(0%, 0%);
    -webkit-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
}

.awards-item:hover .awards-icon {
    background-image: linear-gradient(315deg, var(--lightOrange) 0%, white 74%);
}

.awards-icon img {
    height: 80%;
    width: 80%;
}

.awards-content .title {
    color: black;
    margin-bottom: 10px;
}

.awards-content p {
    margin-bottom: 20px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-100 {
    margin-top: 100px;
}

.mb-30-none {
    margin-bottom: -30px;
}

.mb-30 {
    margin-bottom: 30px;
}

.pt-50 {
    padding-top: 50px;
}

.pt-100 {
    padding-top: 100px;
}

.pt-120 {
    padding-top: 120px;
}

.pb-100 {
    padding-bottom: 100px;
}

.awards-item h3,
.awards-item p {
    color: black;
}
/* end of about us section */

/* additional stuff */
.update {
    padding: 0.5rem 1.5rem;
    border-radius: 10px;
    border: none;
    color: black;
    background-color: red;
    cursor: pointer;
}

.warning {
    text-align: center;
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* .warning a {
    margin: 1rem;
    padding: 1rem 2rem;
    text-align: center;
    background-color: red;
    color: white;
} */
/* end of additional stuff */

/* book collection */

.btnBookLink {
    margin-top: 20px;
    margin-bottom: 20px;
    color: var(--lightGreen) !important;
    background: none !important;
    border: 2px solid var(--lightGreen) !important;
}
.btnBookLink.active {
    color: black !important;
    background: var(--lightGreen) !important;
}
.table-list .table-list-body .table {
    margin-bottom: 0;
}

.table-list .table-list-body .table tbody .action-list li a {
    color: #fff;
    font-size: 15px;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease 0s;
}
.table-list .table-list-body .table tbody .action-list li a:hover {
    text-shadow: 3px 3px 0 rgba(255, 255, 255, 0.3);
}

.table-list .table-list-body .table tbody .action-list li a:before,
.table-list .table-list-body .table tbody .action-list li a:after {
    content: attr(data-tip);
    color: white;
    background-color: black;
    font-size: 12px;
    padding: 5px 7px;
    border-radius: 4px;
    text-transform: capitalize;
    display: none;
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
    top: -32px;
    transition: all 0.3s ease 0s;
}

.table-list .table-list-body .table tbody .action-list li a:after {
    content: "";
    height: 15px;
    width: 15px;
    padding: 0;
    border-radius: 0;
    transform: translateX(-50%) rotate(45deg);
    top: -18px;
    z-index: -1;
}

.table-list .table-list-body .table tbody .action-list li a:hover:before,
.table-list .table-list-body .table tbody .action-list li a:hover:after {
    display: block;
}

.table-list {
    /* background: linear-gradient(to right, #414141, #000000); */
    background-color: white;
    padding: 0;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.05), 0 0 0 10px rgba(0, 0, 0, 0.05);
}

.table-list th:first-child {
    border-radius: 10px 0 0 0;
}

.table-list th:last-child {
    border-radius: 0 10px 0 0;
}

.table-list .table-list-body .table tbody tr td,
.table-list .table-list-body .table thead tr th {
    /* color: white; */
    color: black;
}

.table-list .table-list-body .table tbody tr:last-child td {
    border-style: none;
}

.table-list .table-list-body .table th {
    background-color: var(--lightGreen);
}

.table-list .table-list-body .table .table-footer {
    background-color: var(--lightGreen);
    border-radius: 0 0 10px 10px;
}

.table-list .table-list-body .table tbody tr:nth-child(even) {
    /* background-color: rgba(255, 255, 255, 0.2); */
    background-color: rgba(142, 142, 142, 0.1);
}
.customViewLink {
    color: white;
}
.mainBookDetailContainer {
    gap: 30px;
}
.mainBookDetailBox {
    flex-grow: 2;
}
.bookDetailBox {
    border: 1px solid var(--lightYellow);
    background-color: var(--lightOrange);
}
/* .customViewLink:hover {
    color: var(--lightOrange);
} */
/* end of book collection */

/* footer section */
.footer-section {
    background-image: linear-gradient(
        180deg,
        var(--orange) 30%,
        var(--lightOrange) 100%
    );
}

.footer-section {
    padding-top: 50px;
}

.copyright-area {
    padding: 20px 0;
    margin-top: 20px;
}

.copyright-content p {
    color: black;
}

.blog-social li {
    display: inline-block;
}

.blog-social li a {
    border: 1px solid white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    text-align: center;
    display: inline-block;
    color: #fff;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.blog-social li a:hover,
.blog-social li a.active {
    color: #fff;
    background-image: linear-gradient(
        315deg,
        var(--lightGreen) 0%,
        var(--darkGreen) 70%
    );
    border: 1px solid transparent;
}

.footer-logo a img {
    height: 105px;
}
/* end of footer section */

/* Insert Book page */
.book-card {
    background: linear-gradient(
        159deg,
        var(--lightGreen) 0%,
        var(--lightGreen) 100%
    );
    -webkit-box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
    box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
    padding: 30px;
    margin-bottom: 30px;
}

.book-a {
    transition: 0.55s ease-in-out;
    transform: scale(1);
    opacity: 1;
}
.book-form-main-field-container {
    position: relative;
    margin-bottom: 0px;
}
.book-form-field {
    position: relative;
    margin-bottom: 20px;
}

.book-submit-frame {
    position: relative;
    height: 45px;
}

.book-form-field input,
.book-form-field textarea {
    height: 50px;
    width: 100%;
    background: linear-gradient(159deg, white 0%, white 100%);
    border: none;
    color: #fafafc;
    padding-left: 65px;
    padding-right: 15px;
    box-shadow: inset 0 1px 4px 0 rgb(15 15 20 / 10%);
    margin-bottom: 0;
    transition: 0.4s ease-in-out;
    color: black;
}

.book-form label {
    text-align: center;
    color: #8c8c8e;
    position: absolute;
    height: 50px;
    width: 50px;
    background: var(--lightGreen);
    top: 0;
    left: 0;
    padding: 0 15px;
    text-transform: uppercase;
    font-size: 11px;
    line-height: 50px;
    letter-spacing: 1px;
    font-weight: 500;
    transition: 0.4s ease-in-out;
    cursor: text;
}
.book-form-main-field-container .main-field-label {
    text-align: initial;
    color: #8c8c8e;
    position: initial;
    height: auto;
    width: auto;
    background: var(--lightGreen);
    padding: 0 15px;
    text-transform: uppercase;
    font-size: 11px;
    line-height: 20px;
    letter-spacing: 1px;
    font-weight: 500;
    transition: 0.4s ease-in-out;
    cursor: text;
}
.book-form .titleLabel {
    color: black;
    position: relative;
}
.book-form-field textarea {
    padding-left: 15px;
    padding-top: 15px;
    height: 150px;
    border-left: solid 50px var(--darkGreen);
}

.bookForm-img,
.insert-img {
    padding: 1rem;
    width: 50%;
    display: inline-block;
}

.bookForm-img img,
.insert-img img {
    max-width: 75%;
    max-height: 600px;
    display: block;
    margin: auto;
}

.submit-btn {
    padding: 0 45px;
    text-align: center;
    color: black;
    border-radius: 60px;
    font-size: 16px;
    font-weight: 500;
    line-height: 50px;
    transition: all 0.5s;
    z-index: 1;
    background-color: var(--darkGreen);
    border: none;
    outline: none;
    cursor: pointer;
}
.submit-btn:hover {
    color: black !important;
}

.book-form-field textarea:focus {
    border-color: #67676a;
}

.book-form .book-input:focus {
    outline: none;
}

.book-form .book-input:focus + label {
    background: var(--darkGreen);
    color: #20202a;
}

.invalid-feedback .error {
    font-size: 0.8rem;
}
/* end of insert book */

/* Start of login */
.loginFormContainer {
    border: 10px solid var(--lightGreen);
    background-color: var(--lightGreen) !important;
}
.loginFormContainer label {
    color: black;
}
.btnLoginForm {
    color: black !important;
    background: var(--lightOrange) !important;
    margin-top: 20px;
    margin-bottom: 20px;
}
.dontHaveAccount a {
    color: var(--darkOrange);
}
/* End of login */

/* Start of register */
.registerFormContainer {
    border: 10px solid var(--lightGreen);
    background-color: var(--lightGreen) !important;
}
.registerFormContainer label {
    color: black;
}
.btnRegisterForm {
    color: black !important;
    background: var(--lightOrange) !important;
    margin-top: 20px;
    margin-bottom: 20px;
}
.haveAccount a {
    color: var(--darkOrange);
}

/* End of register */

/* Start of book details */
.btn-default {
    padding: 10px 25px;
    text-align: center;
    color: black;
    border-radius: 10px;
    border: 1px solid var(--lightOrange);
    font-weight: 500;
    background: linear-gradient(315deg, white 0%, var(--lightGreen) 70%);
}

.btn-disabled {
    border: 1px solid #999999;
    background: #cccccc;
    color: #666666;
    font-weight: normal;
}

.btn-alternate {
    padding: 10px 25px;
    text-align: center;
    color: var(--lightGreen);
    border-radius: 10px;
    border: 1px solid var(--lightGreen);
    font-weight: 500;
    background: transparent;
}

/* End of book details */

.item-cover img {
    height: 400px;
    width: auto;
    max-width: 100%;
    object-fit: cover;
}

.card-body {
    min-height: 200px;
}

.book-cover img {
    max-height: 95vh;
    max-width: 100%;
}

.text-justify {
    text-align: justify;
}

.bootstrap-select {
    width: 100% !important;
}

@media screen and (max-width: 767px) {
    .mainBookDetailBox {
        flex-direction: column;
    }
}
